<h2> Sign out a Territory </h2>
<br>
<br>
  <strong>  Residential Territories:<br><br></strong>
    <% @territories.each do |t| %>
      <% if t.signed_out != "true" %>
        <% if t.designation == "Residential" %>
          <%= button_to "##{t.number}", "/congregations/#{t.congregation_id}/territories/#{t.id}", :method => :get %>  <br>
        <%end%>
      <%end%>
    <%end%>
  <strong>  Business Territories:<br><br></strong>
    <% @territories.each do |t| %>
      <% if t.signed_out != "true" %>
        <% if t.designation == "Business" %>
          <%= button_to "##{t.number}", "/congregations/#{t.congregation_id}/territories/#{t.id}", :method => :get %>  <br>
        <%end%>
      <%end%>
    <%end%>
    <strong>  Writing Territories:<br><br></strong>
      <% @territories.each do |t| %>
        <% if t.signed_out != "true" %>
          <% if t.designation == "Writing" %>
            <%= button_to "##{t.number}", "/congregations/#{t.congregation_id}/territories/#{t.id}", :method => :get %>  <br>
          <%end%>
        <%end%>
      <%end%>
<br>
**<i>If there are no available territories please talk to your territory servant.</i>**
<% if current_user.admin %>
  <strong><%= "As an administrator you can view or create the following:" %><br><br></strong>
  Add a new territory: <%= link_to 'Add a territory', new_congregation_territory_path(params[:congregation_id]), class: "new" %><br>
<% end %>
