<h3> <%= @territory.number %> - <%= @territory.designation %> </h3>
<img><%# image_tag("Territory6.png",  height: '400', width: '600') %></img>
<br>
<br>
<% if @publisher.congregation_id == @congregation.id %>
  <%= form_for [@congregation, @territory] do |f| %>
    <%= f.hidden_field :territory_id, :value => @territory.id %>
      <% if @territory.signed_out == "false" || @territory.signed_out == nil %>
      <%= f.submit 'Sign Out' %>
      <% elsif !@view_publisher %>
      <%= f.submit 'Return', name: 'return_territory' %>
      <% else %>
      <%= f.submit 'Return', name: 'return_territory', params: {'view_publisher_id' => @view_publisher.id}%>
      <% end %>
  <% end %>
<% else %>
**<i>This territory is not located within your congregation, please choose one from the <%= link_to 'Strongsville', "/congregations/#{@publisher.congregation_id}/" %> congregation.</i>**
<% end %>
