<!DOCTYPE html>
<html>
  <head>
    <title>RAILSTerritoryApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="navbar-text pull-right">
      <% if user_signed_in? && current_user.publisher_id != nil%>
      <% publisher = current_user.publisher_id %>
      <% current_publisher = Publisher.find_by_id(publisher) %>
      <% if current_user.admin? %>
        <%= link_to "All Congregations", congregations_path, :class => 'navbar-link' %>
      <% end %> |
      <%= link_to "#{current_publisher.congregation.name} Congregation Home Page", congregation_path(current_publisher.congregation_id), :class => 'navbar-link' %> |
      <%= link_to 'Users Home Page', publisher_path(current_publisher.id), :class => 'navbar-link' %> |
        Logged in as <strong><%= current_publisher.first_name %> <%= current_publisher.last_name%> -  <% if current_user.admin %><%= "Admin" %> <%end%></strong>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <br>
        <br>
        Email: <strong><%= current_user.email %></strong>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% if current_user %>
        Your Email to Register with: <strong><%= current_user.email %></strong>
        <% end %>
      <% end %>
      </p>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
